<section id="aboutMe" class="color-aboutMe">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <img class="img-responsive" src="assets/pic/blocks.png">
            </div>
            <div class="col-md-3">
                </br>
                </br>
                </br>
                </br>
                </br>
                <h1 translate>ABOUT_ME.HELLO_WORLD</h1>
                <p translate>ABOUT_ME.HOSTED_GITHUB</p>
                <p translate>ABOUT_ME.PROGRESS</p>
            </div>
        </div>
    </div>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
</section>