<!DOCTYPE html>
<html lang="en" ng-app="webApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Rafal Polak - Portfolio</title>
        <!-- css -->
        <link rel="stylesheet" href="lib/vendors/css/bootstrap.min.css">
        <link rel="stylesheet" href="lib/vendors/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="lib/vendors/css/font-awesome.css">
        <link rel="stylesheet" href="lib/css/util.css">
        <!-- flags -->
        <link rel="stylesheet" href="lib/flags/flags.css">
        <!-- css end -->
    </head>
    <body >
        <nav id="mainNav" class="navbar navbar-fixed-top custom-color">
            <div class="container" ng-controller="mainCtrl">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" ui-sref="aboutMe">Rafa&#322; Polak - Portfolio</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a ui-sref="aboutMe" translate>MENU.ABOUT_ME</a>
                        </li>
                        <li>
                            <a ui-sref="skills" translate>MENU.SKILLS</a>
                        </li>
                        <li>
                            <a ui-sref="blog" translate>MENU.BLOG</a>
                        </li>
                        <li>
                            <a ui-sref="repo" translate>MENU.REPOSITORY</a>
                        </li>
                        <li>
                            <a ui-sref="projects" translate>MENU.PROJECTS</a>
                        </li>
                        <li>
                            <a ui-sref="contact" translate>MENU.CONTACT</a>
                        </li>
                        <li>
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        </li>
                        <li>
                            <a href="" ng-click="switchLanguage('en_US')">
                                <img src="lib/flags/blank.gif" class="flag lang-en" alt="Great Britain" />
                            </a>
                        </li>
                        <li>
                            <a href="" ng-click="switchLanguage('pl_PL')">
                                <img src="lib/flags/blank.gif" class="flag lang-pl" alt="Polska" />
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <div ui-view></div>

        <footer class="footer custom-color text-white">
            </br>
                <h5 class="text-center">
                &copy; Rafal Polak 2017
                </h5>
        </footer>
        <!-- scripts -->
        <script src="lib/vendors/js/angular.js"></script>
        <script src="lib/vendors/js/angular-animate.min.js"></script>
        <script src="lib/vendors/js/ui-bootstrap.min.js"></script>
        <script src="lib/vendors/js/angular-resource.min.js"></script>
        <script src="lib/vendors/js/angular-sanitize.min.js"></script>
        <script src="lib/vendors/js/angular-ui-router.min.js"></script>
        <script src="lib/vendors/js/angular-translate.min.js"></script>
        <script src="lib/vendors/js/angular-translate-loader-static-files.js"></script>
        <script src="lib/vendors/js/jquery.min.js"></script>
        <script src="lib/vendors/js/bootstrap.min.js"></script>
        <!-- scripts end -->
        <!-- my js -->
        <script src="lib/js/controllers/mainMenuCtrl.js"></script>
        <script src="lib/js/app/app.js"></script>
        <!-- my js end -->
    </body>
</html>