<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">Rafa&#322; Polak - Portfolio</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#">Features</a>
    <a class="p-2 text-dark" href="#">Enterprise</a>
  </nav>
  <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>

<div class="container">
  <div class="d-flex flex-row">
    <div class="col d-flex align-items-center justify-content-center">
      <h4>Hello World<br/>I'm hosted with Github Pages.<br/>Work in progress</h4>
    </div>
    <div class="col">
      <img class="img-responsive" src="../assets/pic/blocks.png">
    </div>
  </div>

  <footer class="pt-4 my-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted d-flex justify-content-center">&copy; Rafał Polak 2014-2019</small>
      </div>
    </div>
  </footer>
</div>

<router-outlet></router-outlet>
